<footer role="contentinfo">
  <div class="footer-support">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="container-footer">
            <h6 i18n="Page Heading">Contact Us</h6>
            <!-- <p i18n="Footer Text" class="bold">Call the Client Support Centre to speak with a customer service representation:</p> -->
            <p i18n="Hours of Operation">
              Canada & USA: 1-800-769-2535
              <br> International: 1-416-974-3334
              <br> Monday - Thursday: 7:30 A.M. - 2:30 A.M. (EST) 
              <br> Friday: 7:30 A.M. - 9:00 P.M. (EST) 
              <br> Sunday: 7:00 P.M. - 2:30 A.M. (EST)
            </p>
          </div>
        </div>
        <div class="hidden-md hidden-lg">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="col-md-6">
           <div class="container-footer">
            <h6 i18n="Page Heading">Toll Free</h6>
            <p>
              <a i18n="NA Support" href="tel:NUMBER">Canada & USA: 1-800-769-2535</a>
              <br>
              <a i18n="International Support" href="tel:NUMBER">International: 1-416-974-3334</a>
              <br>
              <a i18n="Private Banking Support" href="tel:NUMBER">Canadian Private Banking Support: 1-855-769-2599</a>
              <br>
              <a i18n="Private Banking International Support" href="tel:NUMBER">Canadian Private Banking International Support: 1-416-313-4956</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container-flex-column container-footer">
            <div class="rbc-shield">
              <img src="assets/img/logo-rbc-shield.svg" alt="RBC Logo">
            </div>
            <div class="copyright">
              <p>&copy; 1995 - 2017 Royal Bank of Canada</p>
            </div>
            <div class="container-flex-row">
              <div class="privacy-security">
                <a i18n="Footer Text" target="_blank" [href]="securityHref()">Privacy & Security</a>
              </div>
              <p aria-hidden="true">&#124;</p>
              <div class="legal">
                <p>
                  <a i18n="Footer Legal" target="_blank" [href]="legalHref()">Legal</a>
                </p>
              </div>
              <p aria-hidden="true">&#124;</p>
              <div class="accessibility">
                <p>
                  <a i18n="Footer Accessiblity" target="_blank" [href]="accessibilityHref()">Accessibility</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

